.main-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.main-panel img{
    height: calc(100vh - 50px);
    max-width: 80%;
}

.home-info h3 {
    color: #999898;
}

.home-info p {
    color: #ffffff;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.home-info button {
    border: 1px solid #af552b;
    color: #ffffff;
    padding: 15px;
    border-radius: 30px;
}