.main-panel {
    background-color: #12181c;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.main-panel img{
    height: calc(100vh - 50px);
    src: url(../images/odiseo-castrejon-1SPu0KT-Ejg-unsplash.jpg);
}

.info h3 {
    color: #999898;
}

.info p {
    color: #ffffff;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info button {
    border: 1px solid #af552b;
    color: #ffffff;
    padding: 15px;
    border-radius: 30px;
}