.menu {
    background-color: #0e1214;
    display: flex;
    align-items: center;
    gap: 35px;
    height: 50px;
}

.menu * {
    color: #ffffff;
}

.menu button:not(.logo) {
    font-weight: bolder;
    font-size: 18px;
}

.logo span {
    display: flex;
    align-items: center;
    fill: #719633;
    font-size: 25px;
    font-family: 'Rocksalt';
    color: #719633;
}

.logo span svg {
    width: 50px;
    height: 50px;
}
