@font-face {
    font-family: 'RockSalt';
    src: url('./fonts/RockSalt-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
}

button:hover:not(.logo) {
    cursor: pointer;
    filter: brightness(.7);
}

.container {
    background-color: #12181c;
}